
        <div class="left_col_db sd_t">
          <div class="left_col scroll-view">
         <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title">
                <img src="../build/images/logo_elevate_main.png" style="float: left;width: 255px;padding-top:4px"/>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="https://www.wrike.com/avatars//4A/F9/Box_ff3f9d3f_70-78_v1.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome, </span>
                <h2>{{{ userDetails.firstname }}} {{{ userDetails.lastname }}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">

              <ul class="nav side-menu">

                  <li><a><i class="fa fa-sitemap"></i>Folders</a>
                    <div id="root"></div>              
                    {{{ foldermenu }}}
                  </li>

                </ul>
        

                <!--<h3>General</h3>-->
                <ul class="nav side-menu">
                  <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                  <li><a href="/tasks" ><i class="fa fa-tasks"></i>Tasks</a><li>
                  <li><a href="/projects" ><i class="fa fa-briefcase"></i>Projects</a><li>
                  <li><a href="/gantt-chart" ><i class="fa fa-briefcase"></i>Gantt Chart</a><li>
                  <li><a href="/workflows" ><i class=" fa fa-cogs"></i>Workflows</a><li>
                  <li><a href="/contacts"><i class="fa fa-users"></i>Users</a><li>
                  <li><a href="/profile"><i class="fa fa-user"></i>Me</a><li>
                </ul>
              </div>
             

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->

            <div class="sidebar-footer hidden-small">

              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
         </div>


         